-
  const name="Скарлетт";

  const about="Спасена с улицы, прекрасный характер, ненавязчивая и скромная, умная и добрая кошечка, любит смотреть телевизор, ничего не портит в доме. В поиске человека, который полюбит ее всем сердцем. Посмотрите в ее глаза, глубокий взгляд, прямо в душу. Она очень умная, кошечка просто 'золото'. Кушает сухой и влажный корм, ходит в лоток, обработана, привита и кастрирована. Уличная жизнь не прошла бесследно и у Скарлетт гингивит. Удаление зубов нам не показано, поэтому постоянно проводим обработки спецсредствами. Она очень мужественно проходит обработку десен каждый день. Нам очень нужна помощь в покупке качественного корма, наполнителя и антипаразитарных препаратов.";

  const date_arrived='04.05.2023';

  icon_path='female.svg';

  img_1='cat_1.png';
  img_2='cat_2.png';
  img_3='cat_3.png';

  const cards = [
    {
      name:"Коллин",
      age:"1 год",
      health:"не стерилизован(-а)",
      icon_path:"female.svg",
      img_path:"cats_11.png"
    },
    {
      name:"Майк",
      age:"2 года",
      health:"стерилизован(-а)",
      icon_path:"male.svg",
      img_path:"cats_12.png"
    },
    {
      name:"Сонни",
      age:"3 месяца",
      health:"не стерилизован(-а)",
      icon_path:"male.svg",
      img_path:"cats_13.png"
    },
    {
      name:"Клауди",
      age:"5 лет",
      health:"стерилизован(-а)",
      icon_path:"male.svg",
      img_path:"cats_10.png"
    },
    {
      name:"Фантик",
      age:"2 года",
      health:"не стерилизован(-а)",
      icon_path:"male.svg",
      img_path:"cats_3.png"
    },
    {
      name:"Иришка",
      age:"1 год",
      health:"стерилизован(-а)",
      icon_path:"female.svg",
      img_path:"cats_4.png"
    }
  ]

  const healths = [
    {
      value:"болеет гингивитом"
    },
    {
      value:"нуждается в уходе за зубами"
    }
    
  ];

  const patterns = [
    {
      value:"ласковая"
    },
    {
      value:"активная"
    },
    {
      value:"любит детей"
    },
    {
      value:"добрая"
    }
  ];

  const vets=[
    {
      value:"обработан(-а) от клещей и паразитов"
    },
    {
      value:"вакцинирован(а)"
    },
    {
      value:"стерилизован(а)"
    }
  ]

  const cities=[
    {
      value: "любой город"
    },
    {
      value: "Минск"
    },
    {
      value: "Брест"
    },
    {
      value: "Витебстк"
    },
    {
      value: "Гомель"
    },
    {
      value: "Гродно"
    },
    {
      value: "Могилев"
    },
  ]

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    title Кот
    link(href='css/bootstrap/bootstrap.css' rel='stylesheet')
    link(href='css/style.css' rel='stylesheet')
    link(rel='shortcut icon' href='img/paw_small.svg' type='image/x-icon')
    link(href='css/modal.css' rel='stylesheet')
    link(rel='stylesheet' href='css/slider.css')
    style.
        body{
            background-image:url(img/cat_bg.png);
        }
  body
    include header
    .container
      .row
        .col-3
        .col-6
          #modal-window-post.modal-window
            .modal-popup.modal-small
              .modal-header
                #modal-post-close.modal-close
                  img(src='img/icon/close.svg')
                .modal-title Заявка отправлена
              .modal-content
                .row
                  .col-12
                    div
                      | Спасибо за отклик! Мы свяжемся с вами по почте или телефону в течение нескольких дней.
          #modal-window.modal-window
            #modal-popup.modal-popup
              .modal-header
                #modal-popup-btn-close.modal-close
                  img(src='img/icon/close.svg')
                .modal-title Заявка на опекунство
              .modal-content
                .row
                  .col-12.col-md-4
                    .border-img-container-sqr
                      img.bordered-img(src='img/' + img_1)
                    .icon-text.mt-3
                      img.icon-text-icon(src='img/icon/' + icon_path).mr-2
                      .title-small #{name}
                    div поступил(-а) в приют #{date_arrived}
                  .col-12.col-md-8
                    .row
                      .col-12.col-sm-6
                        .label-input
                          label(for='') Ваше имя
                          input#name(type='text')
                          #nameMsg.input-msg
                      .col-12.col-sm-6
                        .label-input
                          label(for='') Ваш город
                          .dropdown
                            input#filter-switch_1.dropdown__switch(type='checkbox' hidden='')
                            label.dropdown__options-filter(for='filter-switch_1' style='margin-bottom: 0; margin-left: 0;')
                              ul.dropdown__filter(role='listbox' tabindex='-1' style='margin-bottom: 0;')
                                li.dropdown__filter-selected(aria-selected='true')
                                  | #{cities[0].value}
                                li
                                  ul.dropdown__select
                                    each city in cities
                                      li.dropdown__select-option(role='option')
                                        | #{city.value}
                      .col-12.col-sm-6
                        .label-input
                          label(for='') Ваша почта
                          input#mail(type='text')
                          #mailMsg.input-msg
                      .col-12.col-sm-6
                        .label-input
                          label(for='') Ваш телефон
                          input#phone(type='text')
                          #phoneMsg.input-msg
                      .col-12
                        .label-input
                          label(for='') Напишите, почему именно вы должны стать хозяином котика
                          input#about(type='text')
                          #aboutMsg.input-msg
                      .d-none.d-md-block.col-6
                      .col-12.col-md-6
                        .shadow-btn-container.mt-3
                          button#send-request.my-btn(style='z-index:11') Отправить заявку
                          .my-shadow-clr-1(style='z-index:10')
        .col-3
      .row.flex-column-reverse.flex-lg-row
        .col-12.col-lg-6
                  .row.d-flex.align-items-center
                    .col-12.col-sm-6
                      .border-img-container-sqr
                        img.bordered-img(src='img/' + img_1)
                        .my-border
                    .d-none.d-sm-block.col-6
                      .border-img-container-sqr.mb-4
                        img.bordered-img(src='img/' + img_2)
                        .my-border
                      .border-img-container-sqr
                        img.bordered-img(src='img/' + img_3)
                        .my-border
        .d-none.d-lg-block.col-1
        .col-12.col-lg-5.d-lg-flex.flex-column.justify-content-between.mb-5.mb-lg-0
          div
              .icon-text.mt-3
                img(src='img/icon/' + icon_path).mr-2
                .titled #{name}
              .mb-4.text-l поступил(-а) в приют #{date_arrived}
          div
            | #{about}
          .row
            .d-none.d-md-block.col-4.col-xl-6
            .col-12.col-md-8.col-xl-6
              .shadow-btn-container.mt-3
                button#modal-popup-btn.my-btn Взять друга сейчас!
                .my-shadow-clr-1
      .row.mt-5.d-flex.flex-row
        .col-12.col-lg-4
          .rounded-card
            .icon-text.mb-3
              img.icon-text-icon(src='img/icon/health.svg')
              .icon-text-text.text-l Здоровье
            .tags-wrapper
               each health in healths
                .tag-clr-2 #{health.value}
        .col-12.col-lg-8.mt-3.mt-lg-0
          .rounded-card
            .icon-text.mb-3
              img.icon-text-icon(src='img/icon/med.svg')
              .icon-text-text.text-l Характер
            .tags-wrapper
                each pattern in patterns
                  .tag-clr-1 #{pattern.value}
            .icon-text.mb-3
              img.icon-text-icon(src='img/icon/cat.svg')
              .icon-text-text.text-l Вет-особенности
            .tags-wrapper
              each vet in vets
                .tag-clr-1 #{vet.value}
      .row.d-none.d-lg-block
        .col-12.mt-5
            .title-small.text-center #{name} рекомендует вам познакомиться со своими друзьями

        .col
          #test-slider.slider.carousel.mt-3(data-ride='carousel')
            // Indicators
            ol.carousel-indicators
              li(data-target='test-slider' data-slide-to='0')
              li(data-target='test-slider' data-slide-to='1')
              li(data-target='test-slider' data-slide-to='2')
              li(data-target='test-slider' data-slide-to='3')
              li(data-target='test-slider' data-slide-to='4')
            // Wrapper for slides
            .carousel-inner
              each card in cards
                .carousel-item
                  a.card.hover-bounce(href='cat.html')
                    .card-img-container
                      img.card-img(src='img/' + card.img_path)
                    .card-info
                      .text-icon
                        .text-icon-text.card-title #{card.name}
                        .text-icon-icon
                          img(src='img/icon/' + card.icon_path)
                      .card-info-item #{card.age}
                      .card-info-item #{card.health}
              
            // Controls
            a.carousel-control-prev(href='#test-slider' role='button' data-slide='prev')
              img(src='img/icon/prev.svg')
            a.carousel-control-next(href='#test-slider' role='button' data-slide='next')
              img(src='img/icon/next.svg')
    include footer
    script(src='js/gsap/gsap.min.js')
    script(src='js/toggle_menu.js')
    script(src='js/select.js')
    script(src='js/cat.js')
    script(src='js/common_animations.js')
    script(src='js/jquery.js')
    script(type='text/javascript' src='js/slider.js' data-iteminfocus='2' data-activeitems='3')
