-
  const pageTitle='Cats'

  const cards = [
    {
      name:"Ксандр",
      age:"5 лет",
      health:"кастрирован",
      icon_path:"male.svg",
      img_path:"cats_1.png"
    },
    {
          name:"Ксандр",
          age:"5 лет",
          health:"кастрирован",
          icon_path:"male.svg",
          img_path:"cats_1.png"
        },
    {
          name:"Ксандр",
          age:"5 лет",
          health:"кастрирован",
          icon_path:"male.svg",
          img_path:"cats_1.png"
        },
    {
          name:"Ксандр",
          age:"5 лет",
          health:"кастрирован",
          icon_path:"male.svg",
          img_path:"cats_1.png"
        },

    {
          name:"Ксандр",
          age:"5 лет",
          health:"кастрирован",
          icon_path:"male.svg",
          img_path:"cats_1.png"
        },
    {
          name:"Ксандр",
          age:"5 лет",
          health:"кастрирован",
          icon_path:"male.svg",
          img_path:"cats_1.png"
        },
        {
                  name:"Ксандр",
                  age:"5 лет",
                  health:"кастрирован",
                  icon_path:"male.svg",
                  img_path:"cats_1.png"
                },
                {
                          name:"Ксандр",
                          age:"5 лет",
                          health:"кастрирован",
                          icon_path:"male.svg",
                          img_path:"cats_1.png"
                        },
                        {
                                  name:"Ксандр",
                                  age:"5 лет",
                                  health:"кастрирован",
                                  icon_path:"male.svg",
                                  img_path:"cats_1.png"
                                },
                                {
                                          name:"Ксандр",
                                          age:"5 лет",
                                          health:"кастрирован",
                                          icon_path:"male.svg",
                                          img_path:"cats_1.png"
                                        },
                                        {
                                                  name:"Ксандр",
                                                  age:"5 лет",
                                                  health:"кастрирован",
                                                  icon_path:"male.svg",
                                                  img_path:"cats_1.png"
                                                },
                                                {
                                                          name:"Ксандр",
                                                          age:"5 лет",
                                                          health:"кастрирован",
                                                          icon_path:"male.svg",
                                                          img_path:"cats_1.png"
                                                        },
                                                        {
                                                                  name:"Ксандр",
                                                                  age:"5 лет",
                                                                  health:"кастрирован",
                                                                  icon_path:"male.svg",
                                                                  img_path:"cats_1.png"
                                                                },
                                                                {
                                                                          name:"Ксандр",
                                                                          age:"5 лет",
                                                                          health:"кастрирован",
                                                                          icon_path:"male.svg",
                                                                          img_path:"cats_1.png"
                                                                        },
                                                                        {
                                                                                  name:"Ксандр",
                                                                                  age:"5 лет",
                                                                                  health:"кастрирован",
                                                                                  icon_path:"male.svg",
                                                                                  img_path:"cats_1.png"
                                                                                },
                                                                                {
                                                                                          name:"Ксандр",
                                                                                          age:"5 лет",
                                                                                          health:"кастрирован",
                                                                                          icon_path:"male.svg",
                                                                                          img_path:"cats_1.png"
                                                                                        },
                                                                                        {
                                                                                                  name:"Ксандр",
                                                                                                  age:"5 лет",
                                                                                                  health:"кастрирован",
                                                                                                  icon_path:"male.svg",
                                                                                                  img_path:"cats_1.png"
                                                                                                },
                                                                                                {
                                                                                                          name:"Ксандр",
                                                                                                          age:"5 лет",
                                                                                                          health:"кастрирован",
                                                                                                          icon_path:"male.svg",
                                                                                                          img_path:"cats_1.png"
                                                                                                        },
                                                                                                        {
                                                                                                                  name:"Ксандр",
                                                                                                                  age:"5 лет",
                                                                                                                  health:"кастрирован",
                                                                                                                  icon_path:"male.svg",
                                                                                                                  img_path:"cats_1.png"
                                                                                                                },
                                                                                                                {
                                                                                                                          name:"Ксандр",
                                                                                                                          age:"5 лет",
                                                                                                                          health:"кастрирован",
                                                                                                                          icon_path:"male.svg",
                                                                                                                          img_path:"cats_1.png"
                                                                                                                        },
                                                                                                                        {
                                                                                                                                  name:"Ксандр",
                                                                                                                                  age:"5 лет",
                                                                                                                                  health:"кастрирован",
                                                                                                                                  icon_path:"male.svg",
                                                                                                                                  img_path:"cats_1.png"
                                                                                                                                },

  ];

  const ages = [
      {
        value:"от 2х месяцев до полугода"
      },
      {
              value:"от 2х месяцев до полугода"
            },
      {
              value:"от 2х месяцев до полугода"
            },
      {
              value:"от 2х месяцев до полугода"
            },

    ];

    const breeds=[
        {
                value:"беспородный"
              },
        {
                value:"от 2х месяцев до полугода"
              },
        {
                value:"от 2х месяцев до полугода"
              },
    ];

    const healths=[
        {
            value:"кастрирован"
        },
        {
                    value:"кастрирован"
                },
        {
                    value:"кастрирован"
                },
        {
                    value:"кастрирован"
                },
    ]

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Title
    link(href='css/bootstrap/bootstrap.css' rel='stylesheet')
    link(href='css/bootstrap/bootstrap-grid.css' rel='stylesheet')
    link(href='css/style.css' rel='stylesheet')
    link(href='css/pagination.css' rel='stylesheet')
  body
    include header
    .container-fluid
      .container
        .row
    .container
      .row
        .col-12.col-md-4
          .block-rounded.my-filter.p-5.p-md-3.p-xl-5.mb-4.mb-md-0(style='height:100%;')
            .title.text-center.mt-4
              | Фильтр
            .div
              .mb-4
                .icon-text
                  img.icon-text-icon(src='img/icon/search.svg')
                  .icon-text-text Поиск
                input.input-solid(type='text')
                label.check-container
                  input(type='checkbox' )
                  span.checkmark
                  span.label-text по кличке
                label.check-container
                  input(type='checkbox')
                  span.checkmark
                  span.label-text по описанию
              div
                .icon-text
                  img.icon-text-icon(src='img/icon/cake.svg')
                  .icon-text-text Возраст
                .dropdown
                  input#filter-switch_1.dropdown__switch(type='checkbox' hidden='')
                  label.dropdown__options-filter(for='filter-switch_1')
                    ul.dropdown__filter(role='listbox' tabindex='-1')
                      li.dropdown__filter-selected(aria-selected='true')
                        | Любой возраст
                      li
                        ul.dropdown__select
                            each age in ages
                              li.dropdown__select-option(role='option')
                                | #{age.value}
              div
                .icon-text
                  img.icon-text-icon(src='img/icon/paw.svg')
                  .icon-text-text Порода
                .dropdown
                  input#filter-switch_2.dropdown__switch(type='checkbox' hidden='')
                  label.dropdown__options-filter(for='filter-switch_2')
                    ul.dropdown__filter(role='listbox' tabindex='-1')
                      li.dropdown__filter-selected(aria-selected='true')
                        | Любая порода
                      li
                        ul.dropdown__select
                           each breed in breeds
                              li.dropdown__select-option(role='option')
                                | #{breed.value}

              div
                .icon-text
                  img.icon-text-icon(src='img/icon/gender.svg')
                  .icon-text-text Пол
                .dropdown
                  input#filter-switch_3.dropdown__switch(type='checkbox' hidden='')
                  label.dropdown__options-filter(for='filter-switch_3')
                    ul.dropdown__filter(role='listbox' tabindex='-1')
                      li.dropdown__filter-selected(aria-selected='true')
                        | Любой пол
                      li
                        ul.dropdown__select
                          li.dropdown__select-option(role='option')
                            | кот
                          li.dropdown__select-option(role='option')
                             | кошка

              div
                .icon-text
                  img.icon-text-icon(src='img/icon/med.svg')
                  .icon-text-text Вет-особенности
                each health in healths
                    label.check-container
                      input(type='checkbox' )
                      span.checkmark
                      span.label-text по кличке

              .shadow-btn-container.mt-4
                button.my-btn Взять друга сейчас!
                .my-shadow-clr-2
        .col-12.col-md-8
          .block-rounded.pt-5.pt-md-3.pt-xl-5(style='height:100%;')
            .title.text-center.mt-4
              | Наши котики
            .row
              .col-2.col-sm-1
              .col-8.col-sm-10
                #paginated-list.row
                   each card in cards
                      .col-12.col-lg-4
                        a.card.mb-4.hover-bounce(href='cat.html')
                          .card-img-container
                            img.card-img(src='img/' + card.img_path)
                          .card-info
                            .text-icon
                              .text-icon-text.card-title #{card.name}
                              .text-icon-icon
                                img(src='img/icon/' + card.icon_path)
                            .card-info-item #{card.age}
                            .card-info-item #{card.health}

              .col-2.col-sm-1
      .row
        .col-4
        .col-8.d-flex.flex-row.justify-content-center.mt-3
          nav.pagination-container
            #pagination-numbers

    include footer
    script(src='js/jquery.js')
    script(src='js/toggle_menu.js')
    script(src='js/pagination_cats.js')
    script(src='js/select.js')
