-
  const pageTitle='Cats'

  const breeds=[
     {value:'любая порода'},
     {value:'беспородная'},
     {value:'британская'},
     {value:'мейн-кун'},
     {value:'персидская'},
     {value:'турецкая ангора'},
     {value:'бирманская'},
     {value:'бенгальская'},
  ];

  const genders=[
    {value:'любой возраст'},
    {value:'кот'},
    {value:'кошка'},
  ];

  const ages=[
    {value:'любой возраст'},
    {value:'от 1 до 6 месяцев'},
    {value:'от 6 месяцев до 1 года'},
    {value:'от 1 года до 3х лет'},
    {value:'от 3х до 5 лет'},
    {value:'более 5 лет'},
  ]
  
  const cities=[
    {
      value: "Любой город"
    },
    {
      value: "Минск"
    },
    {
      value: "Брест"
    },
    {
      value: "Витебск"
    },
    {
      value: "Гомель"
    },
    {
      value: "Гродно"
    },
    {
      value: "Могилев"
    },
  ]

  const cards = [
    {
      name:"Ксандр",
      age:"5 лет",
      health:"стерилизован(-а)",
      icon_path:"male.svg",
      img_path:"cats_1.png"
    },
    {
      name:"Оливер",
      age:"8 лет",
      health:"стерилизован(-а)",
      icon_path:"male.svg",
      img_path:"cats_2.png"
    },
    {
      name:"Фантик",
      age:"2 года",
      health:"не стерилизован(-а)",
      icon_path:"male.svg",
      img_path:"cats_3.png"
    },
    {
      name:"Иришка",
      age:"1 год",
      health:"стерилизован(-а)",
      icon_path:"female.svg",
      img_path:"cats_4.png"
    },
    {
      name:"Оззи",
      age:"5 лет",
      health:"стерилизован(-а)",
      icon_path:"female.svg",
      img_path:"cats_5.png"
    },
    {
      name:"Сальвадор",
      age:"6 месяцев",
      health:"не стерилизован(-а)",
      icon_path:"male.svg",
      img_path:"cats_6.png"
    },
    {
      name:"Анри",
      age:"3 месяца",
      health:"не стерилизован(-а)",
      icon_path:"female.svg",
      img_path:"cats_7.png"
    },
    {
      name:"Олли",
      age:"7 лет",
      health:"стерилизован(-а)",
      icon_path:"male.svg",
      img_path:"cats_8.png"
    },
    {
      name:"Скарлетт",
      age:"2 года",
      health:"стерилизован(-а)",
      icon_path:"female.svg",
      img_path:"cat_1.png"
    },
    {
      name:"Клауди",
      age:"5 лет",
      health:"стерилизован(-а)",
      icon_path:"male.svg",
      img_path:"cats_10.png"
    },
    {
      name:"Коллин",
      age:"1 год",
      health:"не стерилизован(-а)",
      icon_path:"female.svg",
      img_path:"cats_11.png"
    },
    {
      name:"Майк",
      age:"2 года",
      health:"стерилизован(-а)",
      icon_path:"male.svg",
      img_path:"cats_12.png"
    },
    {
      name:"Сонни",
      age:"3 месяца",
      health:"не стерилизован(-а)",
      icon_path:"male.svg",
      img_path:"cats_13.png"
    },
    {
      name:"Леша",
      age:"5 лет",
      health:"стерилизован(-а)",
      icon_path:"male.svg",
      img_path:"cats_14.png"
    },
    {
      name:"Тофф",
      age:"5 лет",
      health:"стерилизован(-а)",
      icon_path:"male.svg",
      img_path:"cats_15.png"
    },
    {
      name:"Аска",
      age:"3 года",
      health:"стерилизован(-а)",
      icon_path:"female.svg",
      img_path:"cats_16.png"
    }
    
  ];

    const healths=[
        {
            value:"стерилизован(-а)"
        },
        {
             value:"обработан(-а) от клещей"
        },
        {
             value:"вакцинирован(-а)"
        }
    ]

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    title Ищут дом
    link(href='css/bootstrap/bootstrap.css' rel='stylesheet')
    link(href='css/bootstrap/bootstrap-grid.css' rel='stylesheet')
    link(href='css/style.css' rel='stylesheet')
    link(rel='shortcut icon' href='img/paw_small.svg' type='image/x-icon')
    link(href='css/pagination.css' rel='stylesheet')
    style.
       body{
         background-image:url(img/cats_bg.png);
       }
  body
    include header
    .container-fluid
      .container
        .row
    .container
      .row
        .col-12.col-md-4.mb-4.mb-lg-0
          .block-rounded.my-filter.p-5.p-md-3.p-xl-5(style='height:100%;')
            .title.text-center.mt-4
              | Фильтр
            .div
              .mb-4
                .icon-text
                  img.icon-text-icon(src='img/icon/search.svg')
                  .icon-text-text Поиск
                input.input-solid(type='text')
                label.check-container
                  input(type='checkbox' )
                  span.checkmark
                  span.label-text по кличке
                label.check-container
                  input(type='checkbox')
                  span.checkmark
                  span.label-text по описанию
              div
                .icon-text
                  img.icon-text-icon(src='img/icon/cake.svg')
                  .icon-text-text Возраст
                .dropdown
                  input#filter-switch_1.dropdown__switch(type='checkbox' hidden='')
                  label.dropdown__options-filter(for='filter-switch_1')
                    ul.dropdown__filter(role='listbox' tabindex='-1')
                      li.dropdown__filter-selected(aria-selected='true')
                        | любой возраст
                      li
                        ul.dropdown__select
                            each age in ages
                              li.dropdown__select-option(role='option')
                                | #{age.value}
              div
                .icon-text
                  img.icon-text-icon(src='img/icon/paw.svg')
                  .icon-text-text Порода
                .dropdown
                  input#filter-switch_2.dropdown__switch(type='checkbox' hidden='')
                  label.dropdown__options-filter(for='filter-switch_2')
                    ul.dropdown__filter(role='listbox' tabindex='-1')
                      li.dropdown__filter-selected(aria-selected='true')
                        | любая порода
                      li
                        ul.dropdown__select
                           each breed in breeds
                              li.dropdown__select-option(role='option')
                                | #{breed.value}

              div
                .icon-text
                  img.icon-text-icon(src='img/icon/gender.svg')
                  .icon-text-text Пол
                .dropdown
                  input#filter-switch_3.dropdown__switch(type='checkbox' hidden='')
                  label.dropdown__options-filter(for='filter-switch_3')
                    ul.dropdown__filter(role='listbox' tabindex='-1')
                      li.dropdown__filter-selected(aria-selected='true')
                        | любой пол
                      li
                        ul.dropdown__select
                          each gender in genders
                            li.dropdown__select-option(role='option')
                              | #{gender.value}

              div
                .icon-text
                  img.icon-text-icon(src='img/icon/med.svg')
                  .icon-text-text Вет-особенности
                each health in healths
                    label.check-container
                      input(type='checkbox' )
                      span.checkmark
                      span.label-text #{health.value}

              .shadow-btn-container.mt-4
                button.my-btn Взять друга сейчас!
                .my-shadow-clr-2
        .col-12.col-md-8
          .block-rounded.pt-5.pt-md-3.pt-xl-5(style='height:100%;')
            .title.text-center.mt-4
              | Наши котики
            .row
              .col-2.col-sm-1
              .col-8.col-sm-10
                #paginated-list.row
                   each card in cards
                      .col-12.col-md-6.col-lg-4
                        a.card.mb-4.hover-bounce(href='cat.html')
                          .card-img-container
                            img.card-img(src='img/' + card.img_path)
                          .card-info
                            .text-icon
                              .text-icon-text.card-title #{card.name}
                              .text-icon-icon
                                img(src='img/icon/' + card.icon_path)
                            .card-info-item #{card.age}
                            .card-info-item #{card.health}

              .col-2.col-sm-1
      .row
        .col-4.d-none.d-md-block
        .col-12.col-md-8.d-flex.flex-row.justify-content-center.mt-3
          nav.pagination-container
            #pagination-numbers

    include footer
    script(src='js/gsap/gsap.min.js')
    script(src='js/common_animations.js')
    script(src='js/jquery.js')
    script(src='js/toggle_menu.js')
    script(src='js/pagination_cats.js')
    script(src='js/select.js')
